.search-container {
    width: 100%;
    max-width: 500px;
    margin: 20px auto 50px auto;
    padding: 10px;
}

.search-box {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#btn-gen-new{
    margin-top: 40px;
}